@font-face {
  font-family: Manrope;
  font-display: swap;
  src: url("./../fonts/Manrope-Bold.woff2") format("woff2"), url("./../fonts/Manrope-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Manrope;
  font-display: swap;
  src: url("./../fonts/Manrope-Medium.woff2") format("woff2"), url("./../fonts/Manrope-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Manrope;
  font-display: swap;
  src: url("./../fonts/Manrope-SemiBold.woff2") format("woff2"), url("./../fonts/Manrope-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

body {
  background-color: #000;
  font-family: Manrope;
}

.calendar {
  margin: 0 auto;
  max-width: 382px;
  background-color: #fff;
  border-radius: 30px;
}

.calendar__header {
  padding: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #E1E1E1;
}

.calendar__month-title {
  padding: 16px 24px 8px;
  color: #1C1C1C;
  font-weight: 700;
  line-height: 1.5;
}

.calendar__field {
  padding: 0 16px 16px 16px;
}

.calendar__td {
  text-align: center;
  width: 50px;
  height: 44px;
  border: 1px solid #868685;
}

.calendar__td.active {
  background-color: #9295af;
}

.calendar__field-title {
  color: #868685;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.333;
  letter-spacing: 0.12px;
}

.calendar__field-num {
  color: #1C1C1C;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.43;
  letter-spacing: 0.14px;
  cursor: pointer;
}

.calendar__footer {
  padding: 24px;
  border-top: 1px solid #E1E1E1;
}

.last__month {
  padding-left: 30px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.2px;
  color: inherit;
  text-decoration: none;
  position: relative;
}

.last__month::before {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(180deg);
      -ms-transform: translateY(-50%) rotate(180deg);
          transform: translateY(-50%) rotate(180deg);
  left: 0;
  width: 24px;
  height: 8px;
  background-image: url("./../img/arrow.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.last__month:active {
  right: 1px;
}

.next__month {
  padding-right: 30px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.2px;
  color: inherit;
  text-decoration: none;
  position: relative;
}

.next__month::after {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 0;
  width: 24px;
  height: 8px;
  background-image: url("./../img/arrow.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.next__month:active {
  left: 1px;
}

.reset {
  display: block;
  color: var(--neutral-black, #1C1C1C);
  font-size: 14px;
  font-weight: 600;
  line-height: 1.43;
  letter-spacing: 0.175px;
  border-radius: 100px;
  border: 1px solid #B4B4B4;
  background-color: transparent;
  padding: 7px 16px;
  cursor: pointer;
}

.reset:active {
  position: relative;
  top: 1px;
}